@charset "UTF-8";

/* navbar styling*/
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	font-family:Arial, Helvetica, sans-serig;
	font-size: 14px;
	line-height:1.8;
}
a{
	text-decoration:none;
}
.navbar{
	list-styles:none;
	margin:0 ;
	padding:0;
	background: #cbe9fe;
	border-radius: 5px;
	overflow: auto;
}
.navbar li{
	float: left;
}
.navbar li a{
	color: #000;
	display:block;
	text-decoration: none;
	padding:15px;
}
.navbar li a:hover{
	background-color: #010919;
	color: #999;
}
h2{
	text-shadow: 3px 3px 6px green;
	text-align:center;
}
.sendContainer{
	position:static;
	display:block;
	max-width:400px;
	margin:30px auto;
	background-color: #f9f9f9;
	border-radius:5px;
	float:center;
	margin-top:8%;
}
.sendContainer label{
	font-size:20px;
	margin:10px;
	font-style:bold;
}
.sendContainer #selectedUser{
	margin:20px;
	font-size:16px;
}
.sendContainer button{
	padding:15px;
	font-size:20px;
	margin-left:35%;
	border-radius:5px;
}
.sendContainer button:hover{
	background-color: green;
}
.container{
	margin:50px auto;
	aspect-ratio:2/1;
	max-width:800px;
	border:solid black 2px;
	overflow-x:hidden;
	overflow-y:scroll;
	white-space:nowrap;
	scroll-snap-type:y mandatory;
	float:center;
	
}
.container table{
	position: static;
	right:0;
	bottom:0;
	float:right
}
.container td{
	margin-left:30px;
	padding-left:30px;
	font-style:italy;
}