<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Family chat</title>
	<link rel="stylesheet" type="text/css" href="/about.css">
</head>
<body>
	<header>
		<ul class="navbar">
			<li><a href="/">Home</a>
			<li><a href="/about">Миний талаар</a>
		</ul>
	</header>
	<div class="container">
		<div id =" image">
			<img src="/image/69750433_2293734664272932_8434457114400115718_n.jpg" width="500" height="600">
		</div>
		<div class="table div">
			<table>
			  <tr>
			    <th>Оюутны код</th>
			    <th>Нэр</th>
			    <th>Имейл хаяг</th>
			  </tr>
			  <tr>
			    <td>B210910812</td>
			    <td>Л.Ганбилэг</td>
			    <td>bilgeeluurev5@gmail.com</td>
			  </tr>
			</table>
		</div>
	</div>
</body>
</html>